/* styles.css o app.component.css */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 16px;
}
