<!-- list.component.html -->
<div class="users-container">
  <button mat-raised-button color="primary" (click)="getUser()">Obtener usuario</button>

  <div class="table-container" *ngIf="dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Nombre Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="editingUser !== user; else editName">
            {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}
          </ng-container>
          <ng-template #editName>
            <form [formGroup]="editForm">
              <mat-form-field style="padding-top: 10px;" appearance="outline" class="compact-input">
                <mat-label>Título</mat-label>
                <input matInput placeholder="Título" formControlName="title" />
                <mat-error *ngIf="editForm.get('title')?.hasError('required')">El título es requerido.</mat-error>
                <mat-error *ngIf="editForm.get('title')?.hasError('pattern')">Solo se permiten letras.</mat-error>
              </mat-form-field>

              <mat-form-field style="padding-top: 10px;" appearance="outline" class="compact-input">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="first" />
                <mat-error *ngIf="editForm.get('first')?.hasError('required')">El nombre es requerido.</mat-error>
                <mat-error *ngIf="editForm.get('first')?.hasError('pattern')">Solo se permiten letras.</mat-error>
              </mat-form-field>

              <mat-form-field style="padding-top: 10px;" appearance="outline" class="compact-input">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Apellido" formControlName="last" />
                <mat-error *ngIf="editForm.get('last')?.hasError('required')">El apellido es requerido.</mat-error>
                <mat-error *ngIf="editForm.get('last')?.hasError('pattern')">Solo se permiten letras.</mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </td>
      </ng-container>

      <!-- Dirección Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="editingUser !== user; else editAddress">
            {{ user.location.city }}, {{ user.location.state }}, {{ user.location.country }}
          </ng-container>
          <ng-template #editAddress>
            <form [formGroup]="editForm">
              <mat-form-field style="padding-top: 10px;" appearance="outline" class="compact-input">
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="Ciudad" formControlName="city" />
                <mat-error *ngIf="editForm.get('city')?.hasError('required')">La ciudad es requerida.</mat-error>
                <mat-error *ngIf="editForm.get('city')?.hasError('pattern')">Solo se permiten letras.</mat-error>
              </mat-form-field>

              <mat-form-field style="padding-top: 10px;" appearance="outline" class="compact-input">
                <mat-label>Estado</mat-label>
                <input matInput placeholder="Estado" formControlName="state" />
                <mat-error *ngIf="editForm.get('state')?.hasError('required')">El estado es requerido.</mat-error>
                <mat-error *ngIf="editForm.get('state')?.hasError('pattern')">Solo se permiten letras.</mat-error>
              </mat-form-field>

              <mat-form-field style="padding-top: 10px;" appearance="outline" class="compact-input">
                <mat-label>País</mat-label>
                <input matInput placeholder="País" formControlName="country" />
                <mat-error *ngIf="editForm.get('country')?.hasError('required')">El país es requerido.</mat-error>
                <mat-error *ngIf="editForm.get('country')?.hasError('pattern')">Solo se permiten letras.</mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </td>
      </ng-container>

      <!-- Código Postal Column -->
      <ng-container matColumnDef="postcode">
        <th mat-header-cell *matHeaderCellDef> Código Postal </th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="editingUser !== user; else editPostcode">
            {{ user.location.postcode }}
          </ng-container>
          <ng-template #editPostcode>
            <form [formGroup]="editForm">
              <mat-form-field style="padding-top: 10px;" appearance="outline" class="compact-input">
                <mat-label>Código Postal</mat-label>
                <input matInput placeholder="Código Postal" formControlName="postcode" />
                <mat-error *ngIf="editForm.get('postcode')?.hasError('required')">El código postal es requerido.</mat-error>
                <mat-error *ngIf="editForm.get('postcode')?.hasError('pattern')">Formato inválido de código postal.</mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </td>
      </ng-container>

      <!-- Correo Electrónico Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Correo Electrónico </th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="editingUser !== user; else editEmail">
            {{ user.email }}
          </ng-container>
          <ng-template #editEmail>
            <form [formGroup]="editForm">
              <mat-form-field style="padding-top: 10px;" appearance="outline" class="email-input">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput placeholder="Correo Electrónico" formControlName="email" />
                <mat-error *ngIf="editForm.get('email')?.hasError('required')">El correo electrónico es requerido.</mat-error>
                <mat-error *ngIf="editForm.get('email')?.hasError('email')">Formato de correo inválido.</mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user">
          <!-- Botón Eliminar -->
          <button mat-button color="warn" (click)="deleteUser(user)">Eliminar</button>

          <!-- Botón Guardar (solo se muestra al editar) -->
          <button mat-button color="primary" *ngIf="editingUser === user" (click)="saveUser()">Guardar</button>

          <!-- Botón Editar (se muestra cuando no se está editando) -->
          <button mat-button color="accent" *ngIf="editingUser !== user" (click)="editUser(user)">Editar</button>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
