<div class="login-container">
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ingresa tu usuario" formControlName="username" />
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        El usuario es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="Ingresa tu contraseña" type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
  </form>
</div>
